.days_btn { 
    padding-top: 100px;
    padding-left: 70px;
    padding-bottom: 30px;
    button {
       
        width: 155px;
        height: 55px;
        border-radius: 30px;
        background-color: #395dd3;
        font-family: Avenir;
        font-size: 16px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        border:none;
    }
}
.col-md-12 {
    padding-left:70px;
    padding-right:157px;
}
.announcementcard{
    max-width: 1200px;
    height: 115px;
    border-radius: 10px;
    box-shadow: 0 0 9px 0 rgba(186, 185, 185, 0.5);
    background-color: #ffffff;
    // padding-top:5px;
    padding-left: 32px;
    h3{
        font-family: Avenir;
        font-size: 16px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #395dd3;
    }
    p{
        font-family: Avenir;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #060606;
    }
    
}
@media only screen and (max-width: 600px) {
    .col-md-12 {
        padding-left:35px;
        padding-right:50px;
    }
    .days_btn { 
   padding-left:35px;
    }
  }