<div class="video-container">
    <div class="video-container-hd">
        <h5>How To Use Whole Numbers In Real Life</h5>
        <p>Homework > Currently Assigned > How To Use Whole Numbers In Real Life</p>
    </div>
    <div class="video-body">
        <div class="video-tag">
            <iframe width="570" height="370" [src]="videoUrl" frameborder="0" frameborder="0"
            allow="autoplay; fullscreen; encrypted-media" allowfullscreen></iframe>
            <!-- <video width="570" height="370" controls>
                <source src="https://player.vimeo.com/video/370480216">
            </video> -->
        </div>
        <div class="video-content">
            <div class="introduction">
                <h6>Introduction</h6>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                    looking at its layout.The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using 'Content here, content here', making it look like
                    readable English.
                </p>
            </div>
            <div class="ideas-introduction">
                <h6>Lorem Ipsum Lorem Ipsum</h6>
                <div class="concept-ideas">
                    <div class="ideas-tag">
                        <img src="assets/remember.jpg" alt="">
                        <p>Remembering</p>
                    </div>
                    <div class="ideas-tag">
                        <img src="assets/concept-idea.jpg" alt="">
                        <p>Conceptual
                            Knowledge</p>
                    </div>
                    <div class="ideas-tag">
                        <img src="assets/knowledge.jpg" alt="">
                        <p>Knowledge</p>
                    </div>
                </div>
            </div>
            <div class="start-btn">
                <button [routerLink]="['/app/homework/practice']">Start Practice</button>
            </div>
        </div>
    </div>
</div>